<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>

        <service id="webhome.listener.menu" class="Ndewez\WebHome\CommonBundle\EventListener\MenuListener">
            <argument type="service" id="session" />
            <argument type="service" id="webhome.builder.menu" />
            <argument type="service" id="webhome.authorizations.session" />
            <tag name="kernel.event_listener" event="kernel.request" />
        </service>

        <service id="webhome.builder.menu" class="Ndewez\WebHome\CommonBundle\Menu\BuilderMenu">
            <argument type="service" id="router" />
        </service>

        <service id="webhome.authorizations.session" class="Ndewez\WebHome\CommonBundle\Menu\GetterAuthorizationsSession">
            <argument type="service" id="security.token_storage" />
        </service>

    </services>
</container>
